.header {
    background: rgba(40, 37, 77, 0.788);
    color: rgb(241, 233, 233);
    padding-top: 25px;
    padding-bottom: 15px;
}

input[type=submit] {
    background-color: rgba(204, 201, 238, 0.788);
    border: 0 none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button[type=submit] {
    background-color: rgba(204, 201, 238, 0.788);
    border: 0 none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
}

body {
    margin: auto;
}

.login {
    padding-top: 40px;
}

.header a {
    color: rgb(174, 167, 255)
}

.thread-title {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.message-box {
    padding-bottom: 35px;
}

.message-container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.category {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 25px;
}

.icon {
    width: 37.5px;
    height: 37.5px;
}

.nav {
    background: rgba(204, 201, 238, 0.788);
    height: 40px;
    padding-top: 8px;
}

.content {
    padding-top: 25px;
}

.new {
    padding-top: 50px;
}

a {
    color: rgb(32, 26, 95)
}