{% extends "layout.html" %}

{% block content %}
    <p><a href="/">Etusivu</a></p>
    <h2>{{ cat_name }}</h2>
    {% for thread in threads %}
        <a href="/thread/{{ thread.id }}">{{ thread.topic }}</a><br>
        <hr>
    {% endfor %}

    <form action="/new_thread" method="POST">
        <p>Uusi keskustelu:</p>
        <p>Aihe: <input type="text" name="topic" required maxlength="100"></p>
        <p>Viesti: <textarea name="content" rows="5" cols="60" required maxlength="5000"></textarea></p>
        <input type="submit" value="Lähetä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="hidden" name="category_id" value="{{ cat_id }}">
    </form>
    
{% endblock %}
