{% extends "layout.html" %}

{% block content %}
    <h2>Huoneet</h2>
    {% for category in categories %}
        <p><a href="/category/{{ category.id }}">{{ category.category_name }}</a></p>
    {% endfor %}
{% endblock %}

{% block add_new %}
    {% if 1 in groups %}
        <form action="/new_category" method="POST">
            <p>Luo uusi alue</p>
            <p>Alueen nimi:
                <input type="text" name="category_name" required maxlength="100"></p>
            <p>Näkyvyys:
                <select name="group">
                    <option value="1"> Ylläpito </option>
                    <option value="2"> Kaikki käyttäjät </option>
                </select>
            </p>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="submit" value="Luo">
        </form>
    {% endif %}
{% endblock %}
        