<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/svg+xml" href="/static/chat.svg" sizes="any">
    <title>GLC foorumi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header">
        <div class="container">
            <h1>GLC-foorumi</h1>
                {% block header %}{% endblock %}   
        </div>
    </div>
    <div class="nav">
        <div class="container">
            {% block navigation %}{% endblock %}
        </div>
    </div>
    <div class="content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="new">
        <div class="container">
            {% block add_new %}{% endblock %}
        </div>
    </div>

        </div>
    </div>
</body>
</html>