<!DOCTYPE html>
<html lang="fi">
<title>Tsoha foorumi</title>
<form action="/register" method="POST">
<p>Luo uusi tunnus:</p>
<p>Käyttäjänimi:<br>
    <input type="text" name="username" required minlength="1" maxlength="20"></p>
<p>Salasana (väh. 8 merkkiä):<br>
    <input type="password" name="password" required minlength="8"></p>
<p>Salasana uudelleen:<br>
    <input type="password" name="password_again" required><br>
    <input type="submit" value="Luo tunnus"></p>
</form>
</html>