{% extends "layout.html" %}

{% block header %}
    <p>Olet kirjautunut nimellä {{ session.username }} | <a href="/logout">Kirjaudu ulos</a></p>
{% endblock %}
    
{% block navigation %}
    <p><a href="/">Etusivu</a> > <a href="/category/{{ header_data.id }}">{{ header_data.category_name }}</a> > <a href="/thread/{{ thread_id }}">{{ header_data.topic }}</a></p>
{% endblock %}

{% block content %}    
    <h2>{{ header_data.topic }}</h2>

    {% for message in messages %}
        <p>Lähettäjä: {{ message.username }} <br>
        {{ message.content }} <br> 
        {{ message.time.strftime("%Y-%m-%d %H:%M:%S") }}<br>
        {% if (session.user_id == message.user_id or admin) and not message.first_in_thread %}
            <form action="/delete" method="POST">
                <input type="submit" value="poista viesti">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="msg_id" value="{{ message.id }}">
                <input type="hidden" name="user_id" value="{{ message.user_id }}">
                <input type="hidden" name="thread_id" value="{{ thread_id }}">
            </form>
        {% endif %}
        {% if admin and message.first_in_thread %}
            <form action="/delete_thread" method="POST">
                <input type="submit" value="poista ketju">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="thread_id" value="{{ thread_id }}">
                <input type="hidden" name="cat_id" value="{{ header_data.id }}"> 
            </form>
        {% endif %}
        </p>
        <hr>
    {% endfor %}
{% endblock %}

{% block add_new %}
    <form action="/new_message" method="POST">
        <p>Uusi viesti:</p>
        <textarea name="content" rows="5" cols="60" required maxlength="5000"></textarea>
        <br>
        <input type="submit" value="Lähetä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="hidden" name="thread_id" value="{{ thread_id }}">
        <input type="hidden" name="cat_id" value="{{ header_data.id }}">
    </form>

{% endblock %}
